.task-side
  .tasks
    .task__box
<<<<<<< Updated upstream
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen' 
    .task__box
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen'
    .task__box
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen' 
  .header
    =link_to '+',"#",class:'add'
=======
      -current_user.categories.each do|category|
        .task__box__name
          = link_to "categories" do
            = fa_icon 'list', class: 'choise' 
            =category.cat_name
        .task__box__edit
          = fa_icon 'pencil', class: 'pen' 
  .header
    %a#fadetoggle_button{:href => "#"} ＋
    .form
      = form_for [@category],html:{id:'fadetoggle_menu'} do |f|
        = f.text_field :cat_name, class: 'form__message', placeholder: 'Add category'
        = f.submit 'Send', class: 'form__submit'




>>>>>>> Stashed changes
