.task-side
  .tasks
    .task__box
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen' 
    .task__box
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen'
    .task__box
      .task__box__name
        = fa_icon 'list', class: 'choise' 
        買い物
      .task__box__edit
        = fa_icon 'pencil', class: 'pen' 
  .header
    =link_to '+',"#",class:'add'