!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TaskApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__title
        = link_to "TO-DO APP", "#", class:'todo'
      .header__right
        .header__right__name
          .fa.fa-user Yusuke
        .header__right__out
          .fa.fa-sign-out-alt Logout
    .conetnts
    = yield
